html, body {
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #242424;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: rgba(127, 149, 209, 0.8);
    width: 100%;
    text-decoration: none;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 12px;
    margin-left: auto;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #2d2d2e;
    padding: 0.5rem 3rem;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #000000;
}

main, header {
    padding: 3em;
}

.painting {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6em 3em;
    z-index: 0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    margin-top: 40em;

}

.blog-post {
    background-color: #f1f1f1;
    border-radius: 1em;
    margin: 5em 0;
    padding: 2em;
}

/** Two column flexbox layout */
.blog-content {
    display: flex;
    gap: 1em;
}

.blog-left {
    flex: 4;
    margin: 2em 0 1em 0;
}

.blog-right {
    flex: 1;
}

.blog-img {
    height: auto;
    margin: 1em 0 1em 0;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #333333;
    padding: 0.5em 0;
    line-height: 1.2;
}

img {
    width: 350px;
}

.logo {
    width: 10em;
    height: auto;
    margin-bottom: 5em;
}

/** Table formatting */

h4 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

table {
    margin: 0 auto;
    border-spacing: 1em 0.5em;
    width: 100%;
    max-width: 700px;
}

th, td {
    padding: 0.5em 1em;
}

th {
    background-color: #242424;
    color: #fff;
    border-radius: 4px;
}

/** First column */
td:first-child {
    background-color: #415690;
    color: #fff;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
}

/** Second column */
td:nth-child(2) {
    background-color: #f8f8f8;
    border-radius: 4px;
    width: 60%;  /* Makes this column wider */
}

/** Third column */
td:last-child {
    background-color: #f8f8f8;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    min-width: 80px;
}